.row {
	margin-right: 0;
}

.mobile-pdf {
	position: absolute;
	margin-top: 50px;
}

@media (max-width: 992px) {
	.pc-pdf {
		display: none;
	}
}

@media (max-width: 768px) {
	.mobile-pdf {
		position: unset;
		margin-top: 70px;
		padding-top: 20px;
	}
}

@media (max-width: 576px) {
	.mobile-pdf {
		position: unset;
		margin-top: 110px;
		padding-top: 20px;
	}
}

@media (min-width: 993px) {
	.mobile-pdf {
		display: none;
	}
}