.row {
	margin-right: 0;
}

.research-interests {
	height: 100vh;
}

/* @media (max-width: 768px) {
	.research-interests {
		position: unset;
		margin-top: 70px;
		padding-top: 20px;
	}
}

@media (max-width: 576px) {
	.research-interests {
		position: unset;
		margin-top: 110px;
		padding-top: 20px;
	}
} */
