.row {
	margin-right: 0;
}

.description {
	position: absolute;
	top: 20vh;
}

.contact-info {
	margin-top: 20px;
}

.icon {
	margin-right: 10px;
	width: 15px;
}

@media (max-width: 576px) {
	.description {
		position: unset;
		margin-top: 0px;
		padding-top: 20px;
	}
}