body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #2F2F2F;
  min-height: 100vh;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.dark { 
  color: #CCCCCC;
}

.light {
  color: #6D6D76;
}
/* 
.a-light {
	color: #6D6D76;
}

.a-dark {
  color: #CCCCCC;
} */

a:hover {
  color: #BE9CDE;
  font-weight: bold;
}

.no-left-padding {
  padding-left: 0;
}